.content-wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-bottom: 1px dashed #e4e4e7b3;
    border-right: 1px dashed #e4e4e7b3;
    &.vtcal{
      overflow-y: auto;
      height:calc(100vh - 250px);
    }
}
.checkbox {
    display: none; // 체크박스 숨김
  
    &:checked + .terms-label {
      background:#c90000;
    }
  }
  
  .terms-label {
    display: inline-block;
    padding: 4px 16px;
    border-radius: 4px;
    background-color: black;
    color:#fff;
    cursor: pointer;
    transition: border 0.2s ease;
    width: 100%;
    text-align: center;

  }

.embla {
  overflow: hidden;
  width: 850px;   // 슬라이드 영역 지정
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 auto; // 슬라이드 크기를 자동으로
  padding: 0 0.5rem;
}
