/* index */
* {
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
}
body {
    height:100vh;
    margin: 0;
    font-family: 'Pretendard-Regular', 'CookieRun-Regular', 'GongGothicMedium','Ownglyph_ParkDaHyun', 'MonoplexKR-Regular', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column; // 세로 정렬
}

ul,ol,li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration-line: none; color:black;
}

input{
    border: 1px solid #c5c5c5;
    padding: 5px;
    border-radius: 4px;
}


.logo {
    font-family: "CookieRun-Regular";
    font-weight: bold;
    font-size: xx-large;
}

@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ownglyph_ParkDaHyun';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MonoplexKR-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-kr@1.0/MonoplexKR-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}