$color-a: #e50914;
$color-b: #000000;
$color-c: #f5f5f1;
$color-d: #6d6e70;
$color-e: #e9e9e9;

/* header */
.App_header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 3;
    height: 5rem;
    border-bottom: 1px solid $color-e;
    background-color: #fff;
    .inner {
        display: flex;
        padding: 1rem 11.7rem;
        align-items: center;
        .logo {
            flex-grow: 5;
        }
        .menu_wrap {
            flex-grow: 2;
            ul {
                overflow: hidden;
                li {
                    float: inline-start;
                    font-family: "GongGothicMedium";
                    font-size: 18px;
                    margin: 1rem;
                    & + li {
                        margin-left: 1rem;
                    }
                }
            }
        }
        .login_btn_wrap{
            flex-grow: 1;
        }
    }
}

/* main */
.App_main{
    margin-top: 5rem;   
    overflow: auto;    
    min-height: calc(100vh - 8rem); 
}
/* footer */
.App_footer{
    position: fixed;
    bottom: 0; left: 0;
    height: 3rem;
    width: 100%;
    border-top: 1px solid $color-e;
    background-color: $color-b;
    .inner{
        padding: 0.8rem 10rem;
        .footer-credits {
            flex: 0 auto;
            ul {
                overflow: hidden;
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                li {
                    float: left;
                    color: $color-c;
                    font-family: "GongGothicMedium";
                    font-size: 13px;
                    & + li {
                        margin-left: 2rem;
                    }
                }
            }
        }
    }
}

