.btn-primary {
    --btn-color: white;
    --primary-color:#e50914;
    &:hover {
      background: #c90000;
    }
}

.btn-secondary {
    --btn-color: white;
    --primary-color:#000000;
}

.btn {
    --btn-padding: 0.25rem 0.75rem;
    --btn-radius: 4px;
    --btn-bg: var(--primary-color);
    --btn-border: 1px solid var(--btn-bg);
    margin: 1rem;
    position: relative;
    padding: var(--btn-padding);
    color: var(--btn-color, #000);
    background: var(--btn-bg, #fff);
    border: var(--btn-border);
    border-radius: var(--btn-radius);
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    &-jelly {
      font-family: 'GongGothicMedium';
        &:hover {
            animation: jelly 0.5s;
        }
    }
    & + .btn{
        margin-left:10px;
    }
} 

@keyframes jelly {
    25% {
      transform: scale(0.9, 1.1);
    }
  
    50% {
      transform: scale(1.1, 0.9);
    }
  
    75% {
      transform: scale(0.95, 1.05);
    }
  }