$color_1: #747474;
$color_2: #fff;
$color_3: #AE0200;
$color_4: #5c3a93;
$color_5: #f1f1f1;
$color_6: #121212;
$background-color_1: #121212;
$background-color_2: #747474;
$background-color_3: #AE0200;
$background-color_4: rgba(255, 255, 255, 0.3);
$background-color_5: #fff;
$background-color_6: #EDEDED;
$background-color_7: #00be7f;
$background-color_8: #EBD000;
$background-color_9: #eb6a00;
$background-color_10: #D40000;

@charset "UTF-8";
/*메인페이지 콘텐츠*/
.os_main_contents {
	padding: 50px 0 0;
	margin-top: 90px;
}
.os_main_visual {
	width: 1280px;
	margin: 0 auto;
	>.mv_title {
		position: relative;
	}
	>.os_weekly_best_theater {
		margin-top: 40px;
	}
}
.mv_title {
	>h1 {
		font-size: 45px;
		line-height: 125%;
	}
	>p {
		margin-top: 15px;
		font-size: 20px;
		line-height: 150%;
		color: $color_1;
	}
	>a {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 130px;
		line-height: 45px;
		color: $color_2;
		text-align: center;
		background-color: $background-color_1;
		border-radius: 23px;
	}
}
.os_weekly_best_theater {
	>.weekly_best {
		display: block;
		position: relative;
		height: 340px;
		border-radius: 30px;
	}
	>.lately_post_list {
		display: flex;
		flex-wrap: wrap;
		margin-top: 20px;
	}
}
.os_weekly_best_theater.theater1 {
	>.weekly_best {
		background: url(../img/weekly_best1.png) no-repeat center;
		background-size: cover;
		background-color: $background-color_2;
	}
}
.os_weekly_best_theater.theater2 {
	>.weekly_best {
		background: url(../img/weekly_best2.png) no-repeat center;
		background-size: cover;
		background-color: $background-color_2;
	}
}
.os_weekly_best_theater.theater3 {
	>.weekly_best {
		background: url(../img/weekly_best3.png) no-repeat center;
		background-size: cover;
		background-color: $background-color_2;
	}
}
.weekly_best {
	>.text_wrap {
		position: absolute;
		right: 30px;
		bottom: 30px;
		left: 30px;
		&::after {
			content: '';
			position: absolute;
			right: 0;
			bottom: 0;
			width: 57px;
			height: 57px;
			border-radius: 100%;
			background: url(../img/text_wrap_after.png) no-repeat center;
			background-color: $background-color_3;
		}
		>.inner {
			position: relative;
			width: 1083px;
			height: 33px;
			padding: 31px 30px;
			background-color: $background-color_4;
			border-radius: 20px;
			>p {
				float: left;
				font-size: 26px;
				line-height: 33px;
				font-weight: 700;
				color: $color_2;
			}
			>i {
				float: left;
				padding-left: 23px;
				margin-left: 40px;
				font-size: 16px;
				line-height: 33px;
				color: $color_2;
				font-style: normal;
				background: url(../img/text_wrap_i.png) no-repeat left center;
			}
			>span {
				position: absolute;
				top: -11px;
				left: 30px;
				padding: 0 10px;
				font-size: 14px;
				line-height: 22px;
				background-color: $background-color_5;
				border-radius: 11px;
			}
		}
	}
}
.lately_post_list {
	>li {
		flex: 1;
		+ {
			li {
				padding-left: 20px;
			}
		}
		>a {
			display: block;
			position: relative;
			height: 80px;
			padding: 20px 20px 20px 120px;
			background-color: $background-color_6;
			border-radius: 30px;
			&::after {
				content: '';
				position: absolute;
				right: 20px;
				bottom: 20px;
				width: 34px;
				height: 34px;
				border-radius: 100%;
				background: url(../img/lately_post_list_a.png) no-repeat center;
				background-color: $background-color_1;
			}
			>span {
				position: absolute;
				top: 20px;
				left: 20px;
				width: 80px;
				height: 80px;
				font-size: 26px;
				line-height: 80px;
				font-weight: 600;
				color: $color_2;
				text-align: center;
				background-color: $background-color_1;
				border-radius: 20px;
			}
			>p {
				font-size: 18px;
				line-height: 125%;
				font-weight: 600;
			}
			>i {
				display: block;
				width: 210px;
				margin-top: 10px;
				font-size: 14px;
				line-height: 150%;
				color: $color_1;
				font-style: normal;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
			}
		}
		&:hover {
			>a {
				background-color: $background-color_3;
				&::after {
					background: url(../img/lately_post_list_a2.png) no-repeat center;
					background-color: $background-color_5;
				}
				>span {
					color: $color_3;
					background-color: $background-color_5;
				}
				>p {
					color: $color_2;
				}
				>i {
					color: $color_2;
				}
			}
		}
	}
}
.os_movie_pick {
	position: relative;
	width: 1280px;
	height: 440px;
	margin: 150px auto 0;
	overflow: hidden;
}
.mp_title {
	>span {
		display: inline-block;
		padding: 0 15px;
		font-size: 16px;
		line-height: 36px;
		color: $color_2;
		background-color: $background-color_1;
		border-radius: 20px;
	}
	>h2 {
		margin-top: 20px;
		font-size: 40px;
		line-height: 125%;
		font-weight: 700;
	}
	>p {
		margin-top: 15px;
		font-size: 20px;
		line-height: 125%;
		font-weight: 600;
	}
	>i {
		display: block;
		margin-top: 30px;
		font-size: 16px;
		line-height: 150%;
		font-style: normal;
		color: $color_1;
	}
	>b {
		display: block;
		padding-top: 40px;
		margin-top: 156px;
		font-size: 13px;
		line-height: 150%;
		font-weight: 400;
		color: $color_4;
		background: url(../img/kofic.png) no-repeat 0 0;
	}
}
.mp_list_wrap {
	position: absolute;
	top: 0;
	right: 0;
	left: 360px;
	height: 440px;
	overflow-x: scroll;
	overflow-y: hidden;
	&::-webkit-scrollbar {
		display: none;
	}
	>.mp_list {
		width: 2994px;
	}
}
.mp_list {
	>li {
		float: left;
		position: relative;
		width: 285px;
		height: 440px;
		border-radius: 30px;
		overflow: hidden;
		+ {
			li {
				margin-left: 16px;
			}
		}
		>.inner {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			padding: 30px;
			background: url(../img/mp_list.png) repeat-x left bottom;
			>i {
				position: absolute;
				top: 30px;
				left: 30px;
				width: 45px;
				height: 45px;
				font-style: normal;
				font-size: 24px;
				line-height: 45px;
				font-weight: 700;
				text-align: center;
				background-color: $background-color_5;
				border-radius: 100%;
			}
			>p {
				position: absolute;
				right: 30px;
				bottom: 92px;
				left: 30px;
				font-size: 24px;
				line-height: 125%;
				font-weight: 700;
				color: $color_2;
				text-overflow: ellipsis;
				font-style: normal;
				white-space: nowrap;
				word-wrap: normal;
				overflow: hidden;
				box-sizing: border-box;
			}
			>span {
				position: absolute;
				right: 30px;
				bottom: 30px;
				width: 36px;
				font-size: 20px;
				line-height: 36px;
				font-weight: 700;
				color: $color_2;
				text-align: center;
				border-radius: 5px;
			}
			>span.grade1 {
				background-color: $background-color_7;
			}
			>span.grade2 {
				background-color: $background-color_8;
			}
			>span.grade3 {
				background-color: $background-color_9;
			}
			>span.grade4 {
				background-color: $background-color_10;
			}
			>.rate_list {
				position: absolute;
				left: 30px;
				bottom: 30px;
				>li {
					position: relative;
					padding-left: 77px;
					color: $color_2;
					font-size: 14px;
					line-height: 150%;
					>span {
						position: absolute;
						top: 0;
						left: 0;
						font-weight: 600;
					}
				}
			}
		}
		>img {
			width: 100%;
		}
	}
}
.os_square_event_wrap {
	position: relative;
	padding-top: 75px;
	margin-top: 75px;
	background: url(../img/os_square_event_wrap.jpg) top center;
	background-size: 1440px auto;
	z-index: 1;
	&::after {
		content: '';
		position: absolute;
		right: 0;
		left: 0;
		bottom: 165px;
		height: 500px;
		background: url(../img/os_square_event_wrap_after.png) repeat-x left bottom;
		z-index: -1;
	}
}
.os_cine_square {
	position: relative;
	width: 1280px;
	margin: 0 auto;
}
.square_title {
	position: relative;
	width: 265px;
	height: 310px;
	padding: 40px;
	color: $color_2;
	background-color: $background-color_3;
	border-radius: 30px;
	>h2 {
		font-size: 40px;
		line-height: 125%;
	}
	>p {
		margin-top: 15px;
		font-size: 20px;
		line-height: 125%;
		font-weight: 600;
	}
	>i {
		display: block;
		margin-top: 30px;
		font-size: 16px;
		line-height: 150%;
		font-style: normal;
		color: $color_5;
	}
}
.square_button_wrap {
	position: absolute;
	bottom: 40px;
	left: 40px;
	>a {
		display: inline-block;
		width: 45px;
		height: 45px;
		border-radius: 100%;
		vertical-align: top;
		border: 1px solid #d27070;
		+ {
			a {
				margin-left: 6px;
			}
		}
	}
	>a.on {
		border: 1px solid #fff;
	}
	>.square_before {
		background: url(../img/square_before.png) no-repeat left 16px center;
		&:hover {
			background: url(../img/square_before_on.png) no-repeat left 16px center;
			border: 1px solid #fff;
		}
	}
	>.square_before.on {
		background: url(../img/square_before_on.png) no-repeat left 16px center;
	}
	>.square_after {
		background: url(../img/square_after.png) no-repeat left 18px center;
		&:hover {
			background: url(../img/square_after_on.png) no-repeat left 18px center;
			border: 1px solid #fff;
		}
	}
	>.square_after.on {
		background: url(../img/square_after_on.png) no-repeat left 18px center;
	}
}
.square_latest_list_wrap {
	position: absolute;
	top: 110px;
	right: 0;
	left: 238px;
	overflow-x: scroll;
	overflow-y: hidden;
	&::-webkit-scrollbar {
		display: none;
	}
}
.square_latest_list {
	display: flex;
	>li {
		flex: 1;
		+ {
			li {
				margin-left: 16px;
			}
		}
		>a.inner {
			display: block;
			position: relative;
			width: 245px;
			height: 170px;
			padding: 40px;
			background-color: $background-color_5;
			border-radius: 10px;
		}
		>a {
			>.category {
				font-size: 14px;
				line-height: 125%;
				color: $color_3;
			}
			>.post_title {
				margin-top: 26px;
				font-size: 18px;
				line-height: 150%;
				font-weight: 600;
				color: $color_6;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
			}
			>.more_button {
				position: absolute;
				top: 40px;
				right: 40px;
				width: 16px;
				height: 16px;
				background: url(../img/square_latest_list_more.png) no-repeat center;
			}
			>.date {
				display: block;
				margin-top: 54px;
				font-style: normal;
				font-size: 12px;
				line-height: 150%;
				color: $color_1;
				text-align: right;
			}
		}
	}
}
.os_event {
	margin-top: 250px;
	background: url(../img/os_event.png) repeat-x left bottom;
	background-color: $background-color_5;
	border-radius: 100px 0 0 0;
	>.inner {
		position: relative;
		width: 1280px;
		height: 279px;
		padding: 50px 0 0 0;
		margin: 0 auto;
		box-sizing: border-box;
	}
}
.event_title {
	>h2 {
		font-size: 40px;
		line-height: 125%;
	}
	>p {
		margin-top: 15px;
		font-size: 20px;
		line-height: 125%;
		font-weight: 600;
	}
	>i {
		display: block;
		margin-top: 30px;
		font-size: 16px;
		line-height: 150%;
		font-style: normal;
		color: $color_1;
	}
}
.os_m_event_list {
	position: absolute;
	top: -100px;
	left: 340px;
	>li {
		float: left;
		+ {
			li {
				margin-left: 20px;
			}
		}
		>a {
			display: block;
			position: relative;
			padding: 51px 0 0 60px;
			>img {
				position: absolute;
				top: 0;
				left: 0;
				width: 260px;
				height: 260px;
				border-radius: 30px;
			}
			>.inner {
				width: 168px;
				height: 217px;
				padding: 30px 0 0 230px;
				background-color: $background-color_5;
				border: 1px solid #DFDFDF;
				border-radius: 30px;
				>i {
					display: block;
					width: max-content;
					padding: 0 10px;
					font-style: normal;
					font-size: 14px;
					line-height: 22px;
					color: $color_2;
					background-color: $background-color_3;
					border-radius: 30px;
				}
				>p {
					width: 140px;
					margin-top: 10px;
					font-size: 20px;
					line-height: 125%;
					font-weight: 700;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
				}
				>span {
					display: block;
					margin-top: 36px;
					font-size: 15px;
					line-height: 150%;
					color: $color_1;
				}
			}
		}
	}
}
