
@charset "UTF-8";
@media (max-width: 1023px) {
	.os_header {
		>.inner {
			width: auto;
			max-width: none;
			margin-left: 16px;
			margin-right: 16px;
		}
	}
	.os_corp {
		>.inner {
			width: auto;
			max-width: none;
			margin-left: 16px;
			margin-right: 16px;
		}
	}
	.os_address {
		>.inner {
			width: auto;
			max-width: none;
			margin-left: 16px;
			margin-right: 16px;
		}
	}
	.os_main_visual {
		width: auto;
		max-width: none;
		margin-left: 16px;
		margin-right: 16px;
	}
	.os_movie_pick {
		width: auto;
		max-width: none;
		margin-left: 16px;
		margin-right: 16px;
	}
	.os_cine_square {
		width: auto;
		max-width: none;
		margin-left: 16px;
		margin-right: 16px;
	}
	.os_event {
		>.inner {
			width: auto;
			max-width: none;
			margin-left: 16px;
			margin-right: 16px;
		}
	}
}
