$color_1: #B81313;
$color_2: #fff;
$color_3: #c3c3c3;
$color_4: #121212;
$color_5: #747474;
$color_6: #599c3e;
$color_7: #8a8a8a;
$background-color_1: #f4f4f4;
$background-color_2: #ae0200;
$background-color_3: #f7f7f7;
$background-color_4: #f9f9f9;
$background-color_5: #599c3e;
$background-color_6: #fff;
$background-color_7: #747474;
$background-color_8: #121212;
$background-color_9: #f1f1f1;
$background-color_10: transparent;
$background-color_11: #AE0200;
$background-color_12: rgba(0, 0, 0, 0.45);

@charset "UTF-8";
/*기본 테이블1*/
/*기본 테이블2 - 게시글 작성 테이블*/
/*기본 테이블3 - 이벤트 게시판 목록*/
/*기본 테이블3 - 이벤트 게시판 목록 수정모드*/
.txtl {
	text-align: left;
}
.txtc {
	text-align: center;
}
.txtr {
	text-align: right;
}
.board_fix {
	position: absolute;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	overflow: hidden;
}
.basic_board1 {
	.board_fix {
		top: 11px;
		left: 16px;
		right: 16px;
	}
	font-size: 13px;
	border-top: 1px solid #121212;
	border-bottom: 1px solid #ddd;
	>thead {
		>tr {
			>th {
				padding: 14px 0;
				font-size: 13px;
				line-height: 19px;
				font-weight: 600;
			}
		}
	}
	>tbody {
		>tr {
			border-top: 1px solid #ddd;
			>th {
				position: relative;
				padding: 12px 16px;
				font-size: 14px;
				line-height: 19px;
				font-weight: 500;
				color: $color_1;
				background-color: $background-color_1;
				>span.notice {
					display: inline-block;
					padding: 0 11px;
					font-size: 13px;
					color: $color_2;
					background-color: $background-color_2;
					border-radius: 33px;
				}
				>a {
					&:hover {
						font-weight: 700;
					}
				}
			}
			>td {
				position: relative;
				padding: 12px 16px;
				font-size: 14px;
				line-height: 19px;
				>a {
					&:hover {
						font-weight: 700;
					}
				}
			}
		}
	}
}
input.post_cbx[type="checkbox"] {
	display: none;
	+ {
		label {
			cursor: pointer;
			background-image: url(../img/cboff.png);
			background-repeat: no-repeat;
			background-position: center;
			padding-left: 20px;
		}
	}
	&:checked {
		+ {
			label {
				background-image: url(../img/cbon.png);
				background-repeat: no-repeat;
				background-position: center;
				padding-left: 20px;
			}
		}
	}
}
.basic_board2 {
	>tbody {
		>tr {
			>td {
				+ {
					td {
						padding-left: 8px;
					}
				}
			}
			+ {
				tr {
					>td {
						padding-top: 15px;
					}
				}
			}
		}
	}
	select {
		height: 48px;
		font-size: 15px;
		line-height: 46px;
		border-radius: 6px;
		padding: 0 0 0 16px;
		background: url(../img/select_option.png) no-repeat right 16px center;
		border: 1px solid #ddd;
	}
}
.post_title_input {
	height: 48px;
	font-size: 15px;
	line-height: 46px;
	border-radius: 6px;
	padding: 0 16px;
	background-color: $background-color_3;
	border: 1px solid #eeeeee;
}
.post_textarea_wrap {
	height: 280px;
	padding: 16px;
	background: #fff;
	border: 1px solid #eaeaea;
	border-radius: 6px;
	>textarea {
		width: 100%;
		height: 100%;
		resize: none;
		border: none;
		outline: none;
		font-size: 14px;
		line-height: 150%;
		background: transparent;
	}
}
.os_file_wrap {
	padding: 16px;
	background-color: $background-color_4;
	border-radius: 6px;
}
.os_file_plus {
	width: 100%;
	font-size: 15px;
	line-height: 46px;
	color: $color_2;
	background-color: $background-color_5;
	border-radius: 6px;
}
.os_file_list {
	margin-top: 16px;
	>li {
		display: flex;
		align-items: center;
		gap: 10px;
		padding: 10px 12px 10px 20px;
		font-size: 14px;
		line-height: 30px;
		background-color: $background-color_6;
		border: 1px solid #ddd;
		border-radius: 6px;
		+ {
			li {
				margin-top: 8px;
			}
		}
		>span {
			min-width: 0;
		}
		>i {
			font-style: normal;
			color: $color_3;
		}
		>b {
			padding: 0 3px;
			margin: 5px 0 5px 0;
			line-height: 20px;
			color: $color_2;
			font-weight: 400;
			background-color: $background-color_7;
			border-radius: 3px;
		}
		>button {
			max-width: fit-content;
			padding: 0 8px;
			margin-left: auto;
			font-size: 14px;
			line-height: 28px;
			color: $color_4;
			background-color: $background-color_6;
			border: 1px solid #ddd;
			border-radius: 6px;
		}
	}
}
.os_file_list2 {
	>li {
		position: relative;
		display: flex;
		gap: 40px;
		align-items: center;
		min-width: 0;
		+ {
			li {
				margin-top: 8px;
			}
		}
		>p {
			line-height: 30px;
			font-weight: 700;
			flex: 0 0 290px;
			>i {
				display: inline-block;
				width: 22px;
				padding: 0 4px;
				margin: 4px 8px 4px 0;
				font-style: normal;
				font-size: 14px;
				line-height: 22px;
				color: $color_2;
				font-weight: 400;
				text-align: center;
				background-color: $background-color_8;
				border-radius: 3px;
			}
			>span {
				margin-left: 2px;
				font-size: 14px;
				font-weight: 400;
				color: $color_5;
			}
		}
		>.file_name_wrap {
			flex: 1;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 10px 10px 10px 20px;
			font-size: 14px;
			line-height: 30px;
			background-color: $background-color_6;
			border: 1px solid #ddd;
			border-radius: 6px;
		}
	}
}
.file_name_wrap {
	>span {
		float: left;
	}
	>i {
		float: left;
		margin-left: 10px;
		font-style: normal;
		color: $color_3;
	}
	>p {
		flex-shrink: 0;
		color: $color_6;
	}
	>.file_button_wrap {
		margin-left: auto;
	}
}
.file_button_wrap {
	>button {
		float: left;
		max-width: fit-content;
		padding: 0 8px;
		font-size: 14px;
		line-height: 28px;
		color: $color_4;
		background-color: $background-color_6;
		border: 1px solid #ddd;
		border-radius: 6px;
		+ {
			button {
				margin-left: 5px;
			}
		}
	}
}
button.os_file_upload {
	color: $color_2;
	background-color: $background-color_5;
	border: 1px solid #599c3e;
}
.calendar_wrap {
	padding: 10px;
	background-color: $background-color_9;
	border-radius: 6px;
}
.calendar_list {
	display: grid;
	grid-template-columns: 45% 10% 45%;
	width: 100%;
	list-style: none;
	>li {
		position: relative;
		text-align: center;
	}
	>li.start {
		padding-left: 90px;
		>span {
			position: absolute;
			top: 0;
			left: 5px;
			padding-left: 21px;
			font-size: 14px;
			line-height: 26px;
			background: url(../img/event_post_wrap_span2.png) no-repeat left center;
		}
	}
	>li.end {
		padding-left: 90px;
		>span {
			position: absolute;
			top: 0;
			left: 5px;
			padding-left: 21px;
			font-size: 14px;
			line-height: 26px;
			background: url(../img/event_post_wrap_span2.png) no-repeat left center;
		}
	}
	>li.arrow {
		background: url(../img/calendar_list_arrow.png) no-repeat center;
	}
}
.calendar_input {
	position: relative;
	padding: 0;
	font-size: 14px;
	line-height: 26px;
	color: $color_4;
	text-align: center;
	border: none;
	border-radius: 30px;
}
.event_draw_wrap {
	position: relative;
	height: 44px;
	padding-right: 30px;
	border: 1px solid #ddd;
	border-radius: 6px;
	&::after {
		content: '명';
		position: absolute;
		top: 0;
		right: 16px;
		line-height: 44px;
		font-weight: 600;
	}
}
.post_input_text {
	padding: 0 16px;
	font-size: 16px;
	line-height: 44px;
	text-align: right;
	background-color: $background-color_10;
	border: none;
}
.my_place_span {
	display: block;
	padding-left: 29px;
	font-size: 16px;
	line-height: 24px;
	color: $color_5;
	background: url(../img/my_place_span.png) no-repeat left center;
}
.basic_board3_wrap {
	padding: 24px;
	border-top: 1px solid #121212;
	border-bottom: 1px solid #ddd;
}
.os_event_list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 32px 24px;
	>li {
		display: block;
	}
}
.event_post_wrap {
	display: block;
	position: relative;
	>.event_category {
		position: absolute;
		top: 16px;
		left: 16px;
		z-index: 10;
		>i {
			display: inline-flex;
			align-items: center;
			padding: 4px 8px;
			font-style: normal;
			font-size: 12px;
			line-height: 1;
			color: $color_2;
			background-color: $background-color_11;
			border-radius: 4px;
			+ {
				i {
					margin-left: 4px;
				}
			}
		}
		>i.end {
			background-color: $background-color_7;
		}
	}
	>img {
		display: block;
		width: 290px;
		border-radius: 6px;
		object-fit: cover;
		object-position: center;
	}
	>p {
		min-height: 48px;
		margin-top: 12px;
		font-size: 16px;
		line-height: 24px;
		font-weight: 600;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
	>span {
		display: block;
		padding-left: 24px;
		margin-top: 8px;
		font-size: 14px;
		line-height: 1.5;
		color: $color_7;
		background: url(../img/event_post_wrap_span.png) no-repeat left center;
	}
}
.event_post_wrap.edit_mode {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: 20px;
		right: 20px;
		width: 25px;
		height: 25px;
		background-color: $background-color_6;
		border: 1px solid #ddd;
		border-radius: 100%;
		z-index: 10;
	}
}
.event_post_wrap.edit_mode.checked {
	&::before {
		border: none;
		background: url(../img/edit_mode_checked.png) no-repeat center;
		background-color: $background-color_2;
		border: 2px solid #fff;
	}
	>img {
		position: relative;
		border: 2px solid #ae0200;
	}
	&::after {
		content: '';
		position: absolute;
		top: 2px;
		right: 2px;
		bottom: 104px;
		left: 2px;
		background-color: $background-color_12;
		border-radius: 4px;
	}
}
